
body{
    margin: 0;
}

.search-bar{
    margin:15px;
}


.teaser-box{
    display:flex;
    flex-direction: column;
}

.teaser-element{
display:flex;
margin: 15px;
}

.teaser-img{
    width: 100px;
    height: auto;


}

.teaser-content{
    padding-left: 15px;

}