

* {      /* reset of browser margins and paddings to prevent unwanted behaviour  */
    margin:0;
    padding:0;
    /*font-family: roboto, sans-serif;*/
    box-sizing: border-box;
    text-decoration: none;
}


.top {
    position: fixed;
    top: 0;
    background-color: #201c19;
    color: #e6dacf;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    z-index: 10;
    font-family: roboto, sans-serif;
}


.top nav ul{
    display:inline-flex;
    justify-content: space-around;
    width: 15rem;
}

.top nav li{
    display: inline;
    font-weight: 100;
}

.top a:visited, .top a:link{
    text-decoration: none;
    color: #e6dacf;
}

.top a:hover{
    color: white;
    font-weight: bold;
    
}


main{
    display: flex;
    flex-direction: column;
   align-items: center;
   /* background-color: #e6dacf; */
   background-color: #7f8560;
   /*font-family: lora, sans-serif;*/
   font-family: 'Noto Serif', serif;
}
    

.article{
    width: 70%;
    margin: 0;
    padding-left: 3rem 10rem;
 
    /* background-color: #ccad8f; */
    background-color: ivory;
    color: #201c19;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 34rem;

    margin-top: 6rem;
    
}

.text{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    min-width: 30rem;
    padding:0 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.published{
    align-self: flex-end;
    font-size: small;
    font-style: italic;
}

.headline {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: roboto, sans-serif;
}

.headline h2{
    font-style: oblique;
    font-family: roboto, sans-serif;
}


.text img{
    width: 40%;
    min-width: 20rem;
    height: auto;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    float: right;
}

.video-container {
position: relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
    overflow:hidden;
    margin:2rem 0;
    min-width: 28rem;
    width: 80%;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.spotify{
    padding: 0.4rem;
    float: right;
    width: 350px;
    height: 90px;
}

.lyrics{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 5rem;
}

.lyrics.headline {
    align-self: center;
}
.verse{
padding: 0.5rem;
}

.chorus {
    font-weight: bold;
    
}
.eng.chorus {
    font-style: normal;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.line .dt em{
/* Zeilennummern bei deutschem Text ausgeblendet */
    display: none;
}

.nr{
/* Formatierung der Zeilennummern */
    font-style: normal;
    font-size: xx-small;
}
.dt, .eng{
/* Deutscher und Englischer Text werden in einer Reihe angezeigt */
    display: inline-block;
    
/* Größe der einzelnen Verse */
    width: 50%;
    max-width: 25rem;
    min-width: 14rem;
    flex-shrink: 1;
}

.dt{
    /* padding-right: 2rem; */
    margin-right: 1.5rem;
    /* text-indent: -0.3rem; */

}

.eng{
    margin-left: 1.5rem;
    /* Einzug für einstellige Nummern */
    text-indent: -0.8rem;
    font-style: italic;
}


.big{ 
    /* Einzug für zweistellige Nummern */
    text-indent: -1.1rem;   
}

.desc {
    max-width: 80%;
    align-self: center;
    margin: 2% 0;
}

.teaser-outer-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    font-family: roboto, sans-serif;;
}

.teaser-headline{
text-align: center;
}

.teaser-inner-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.teaser {
    width: 13rem;
    height: 13rem;
    margin: 1rem 1rem;
}

#box-chuckamuck-01{
    background-image: url(../images/article_chuckamuck_cover.png);
    background-size: cover;
}

#box-sophie-hunger-01{
    background-image: url(../images/article_sophie_spaghetti_cover.jpg);
    background-size: cover;
}

#box-knyphausen-01{
    background-image: url(../images/article_gisbert_Sommertag.jpg);
    background-size: cover;
}

#box-faber-01{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c5/Faber_live-Konzert_in_Cottbus_2017.jpg);
    background-position: center;
    background-size: cover;
}



@media only screen and (max-width: 1600px) {
    .line{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.eng.chorus{
    display: none;
}
    .dt, .eng { 
        display: block; 
        width: 25rem; 
        
    }

    .eng{
       
        font-size: small;
        margin-left: 0.3rem;

    }
}
@media only screen and (max-width: 1200px) {
    .text{
        font-size: 0.9rem;
    }
    .desc {
        max-width: 100%;
    }
}


    
li{
    list-style-type: square;
}